<!DOCTYPE html>
<html>

<head>
  <title>DxE Facebook Graph API Proxy Example Request</title>
</head>

<body>
  <div id="count">
    9 million billion trillion hundred
  </div>
  <script>
    function updateCount() {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == XMLHttpRequest.DONE) {
          if (xmlhttp.status == 200) {
            document.getElementById("count").innerHTML = JSON.parse(xmlhttp.responseText)["attending_count"];
          } else {
            alert(xmlhttp.status);
            alert(xmlhttp.responseText);
          }
        }
      }

      xmlhttp.open("GET", "/attending_event?event_id=122831071398421", true);
      xmlhttp.send();
    }
    updateCount();
  </script>
</body>

</html>
